.mons_link{
   width: 90%;
   height: 90%;
   padding: 10px;
}
.mons_img{
  display: table-cell;
  vertical-align: middle;
  border: solid 1px;
}
.mons_name{
  position: relative;
  display: table-cell;
  vertical-align: middle;
  border: solid 1px;
  border-left: none;
  width: 100%;
}
.mons_name_a{
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
}
body {
   border-width: 0px;
   padding: 0px;
   margin: 0px;
   height: 100%;
   background-color: #e7e7de
}
