@charset "utf-8";

/* モーダル コンテンツエリア */
#modal-main {
    display: none;
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #666666;
    position: fixed;
    z-index: 4;
}
#modal-main h1 {
    background: #ededed;
    padding: 20px;
    border-radius: 5px 5px 0 0;
    font-size: 1.2em;
    margin-top: 0;
    text-align: center;
}
/* モーダル 背景エリア */
#modal-bg {
    display:none;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
    position:fixed;
    top:0;
    left:0;
    z-index: 3;
}

body {
    margin: 0;
    overflow: hidden;
}

.relative {
    position: relative;
    margin: 0;
    overflow: hidden;
}

#monscheck {
  position: absolute;

}
.levelup {
    position: absolute;
    top: 60px;
}

.evolution {
    position: absolute;
    top: 90px;
}

#currentmonster {
  position: absolute;
  top : 0%;
  left: 20%;
}
#modal-open {
  color: #cc0000;
}
