@charset "utf-8";

#contents {
  z-index: 0;
  font-size: 16px;
}


.choices {
  color: #cc0000;
}
/* モーダル コンテンツエリア */
#quiz-modal {
    display: none;
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #666666;
    position: fixed;
    z-index: 2;
}
#quiz-modal h1 {
    background: #ededed;
    padding: 20px;
    border-radius: 5px 5px 0 0;
    font-size: 1.2em;
    margin-top: 0;
    text-align: center;
}
/* モーダル 背景エリア */
#quiz-modalbg {
    display:none;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
    position:fixed;
    top:0;
    left:0;
    z-index: 1;
}
#mapback{
  height:50px;
  text-align: center;
}
html {
    height:525px;
}

body {
    width:100%;
    height:100%;
}

.progress-bar-warning {
  background-color: #ffd700;
}

.progress-bar-danger {
  background-color: #ff4500;
}
