#main_bg{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto 100%;
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	box-shadow: inset 1px 1px 3px rgba(0,0,0,0.3);
	display: -webkit-flex;
	display: flex;
}
