body{
  position: relative;
  height: 560px;
  width: 1000px;
  background-repeat: no-repeat;
  background-image: url("background.png")
}
.window1{
  background-color: rgb(26, 195, 91);
}
.botton{
  background-color: rgb(9, 244, 106);
}
#login{
  text-align: center;
  width: 30%;
}
#new{
  text-align: center;
  width: 30%;

}
